<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>ServletEx</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 톰캣 서버에 서블릿 클래스를 등록한다 -->
	<servlet>

		<!-- 톰캣에 등록될 서블릿의 이름(변수명) -->
		<servlet-name>helloServlet</servlet-name>

		<!-- 톰캣에 등록될 서블릿 클래스를 자바 풀네임으로 적어준다 -->
		<servlet-class>hello.HelloServlet</servlet-class>

	</servlet>

	<!-- 등록된 서블릿 클래스에 URL주소를 지정한다 (매핑한다) -->
	<!-- 요청된 URL에 따라 실행될 서블릿이 지정된다 -->
	<servlet-mapping>

		<!-- 매핑될 서블릿 클래스의 이름 -->
		<servlet-name>helloServlet</servlet-name>
		<!-- 서블릿에 연결될 URL 지정 -->
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

</web-app>

